---
import Block from '../components/Block.astro';
import CommonLayout from '../layouts/CommonLayout.astro';
---

<CommonLayout title="404">
    <Block>
        <p>404</p>
        <p id="pathname-inject"></p>
    </Block>
</CommonLayout>

<script is:inline>
    (() => {
        const pathname = document.getElementById('pathname-inject');

        if (pathname) {
            pathname.textContent = window.location.pathname;
        }
    })();
</script>
