---
import HeaderWithContent from '../components/HeaderWithContent.astro';
import BaseLayout from './BaseLayout.astro';
---

<BaseLayout title={Astro.props.title}>
  <div class="max-w-7xl mx-auto">
    <HeaderWithContent />
    <slot />
  </div>
</BaseLayout>
