---
import { MenuIcon, XIcon } from 'lucide-solid';
import { twMerge } from 'tailwind-merge';

import { linkActiveCss, linkCss } from '../styles/common';
import Logo from './Logo.astro';

const activeLink = [
    linkActiveCss,
    'text-lg md:text-xl' /* , 'font-semibold' */,
];
const inactiveLink = [linkCss, 'text-lg md:text-xl' /* , 'font-semibold' */];

const { pathname } = Astro.url;
const isTest = pathname.startsWith('/test');

// https://preline.co/docs/navbar.html#svg
---

<header class="flex flex-wrap sm:justify-start sm:flex-nowrap z-50 w-full">
    <nav class="w-full sm:flex sm:items-center sm:justify-between">
        <div class="flex items-center justify-between">
            <a
                class="focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-600 focus:ring-offset-slate-800"
                href="/"
            >
                <Logo />
            </a>

            <div class="sm:hidden">
                <button
                    type="button"
                    class="p-2 inline-flex justify-center items-center rounded-md border font-medium before:shadow-sm align-middle focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-600 focus:ring-offset-slate-800 transition-all bg-slate-900 hover:bg-slate-800 border-slate-700 text-gray-400 hover:text-white"
                    id="header-button"
                >
                    <MenuIcon
                        class="w-4 h-4"
                        id="header-icon-1"
                        strokeWidth="1"
                    />
                    <XIcon
                        class="hidden w-4 h-4"
                        id="header-icon-2"
                        strokeWidth="1"
                    />
                </button>
            </div>
        </div>
        <div
            id="header-menu"
            class="overflow-hidden transition-all duration-300 basis-full grow hidden sm:block"
        >
            <div
                class="flex flex-col gap-3 mt-5 sm:flex-row sm:items-center sm:justify-end sm:mt-0 sm:pl-5"
            >
                <a
                    class={twMerge(isTest ? activeLink : inactiveLink)}
                    href="/test"
                >
                    Test
                </a>
            </div>
        </div>
    </nav>
</header>

<script>
    (() => {
        const button = document.getElementById('header-button');
        const menu = document.getElementById('header-menu');
        const icon1 = document.getElementById('header-icon-1');
        const icon2 = document.getElementById('header-icon-2');

        if (!button || !menu || !icon1 || !icon2) {
            return;
        }

        button.addEventListener('click', () => {
            const isHidden = menu.classList.toggle('hidden');
            icon1.classList.toggle('hidden', !isHidden);
            icon2.classList.toggle('hidden', isHidden);
        });
    })();
</script>
