:root {
  --color-primary: rebeccapurple;
  --color-secondary: chartreuse;
  --color-tertiary: deeppink;
  --color-disabled: grey;
  --color-read-only: lightgrey;
  --color-text: lavenderblush;
  --color-white: white;
  --color-black: black;
  --color-background: var(--color-primary);
  --color-text: var(--color-white);
  --color-link: var(--color-secondary);
  --color-border: var(--color-secondary);
  --color-button-text: var(--color-primary);
  --color-button-background: var(--color-secondary);
  --color-button-background-hover: var(--color-tertiary);
  --color-input-border: var(--color-border);
  --color-input-text: var(--color-black);
  --color-input-background: var(--color-white);

  --font-size-default: 2rem;
  --font-size-smaller: 1.6rem;

  --distance-default: 2rem;
  --distance-smaller: 1rem;
  --distance-bigger: 3rem;
  --distance-form-controls: 0.5rem 1rem;

  --border-radius-default: 0.3rem;

  --transition-default: 0.3s;

  accent-color: var(--color-secondary);
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

html {
  font-size: 10px;
  box-sizing: border-box;
  color: var(--color-text);
  background-color: var(--color-background);
  font-family: sans-serif;
  font-weight: 300;
}

body {
  font-size: var(--font-size-default);
  margin: 0;
  padding: var(--distance-default);
}

button,
input {
  font-family: inherit;
  font-size: var(--font-size-smaller);
}

a {
  text-decoration: none;
}
