---
import Content from '../components/Content.astro';
import CommonLayout from '../layouts/CommonLayout.astro';
---

<CommonLayout title="Contact">
    <Content class="custom-html">
        <p>Data</p>
        <ul>
            <li>nip: 8111641723</li>
            <li>regon: 369009950</li>
            <li>gmail: tomekfijol</li>
        </ul>
    </Content>
</CommonLayout>
