---
import PatternComp from '../../components/Pattern.astro';
import TestLayout from '../../layouts/TestLayout.astro';
---

<TestLayout title="Pattern">
    <div class="flex flex-col gap-4">
        <PatternComp />
        <PatternComp class="w-96 h-96" />
    </div>
</TestLayout>
