---
import { Image } from 'astro:assets';

// url base64 aHR0cHM6Ly9jb2hvc3Qub3JnL2x1bmFzb3JjZXJ5L3Bvc3QvMjQ2NTU5My10ZXN0aW5nLXlvdXItYW5pbWF0aQo=
// import wheelHz1 from '../../assets/wheel-hz/wheel-hz-1.png'; // Hz: 30, 48, 50, 60, 90, 120, 144
import wheelHz2 from '../../assets/wheel-hz/wheel-hz-2.png'; // Hz: 30, 48, 50, 60, 75, 90, 120, 144
import Box from '../../components/Box.astro';
import TestLayout from '../../layouts/TestLayout.astro';
---

<TestLayout title="Screen Hz">
    <!-- <Box>
        <details>
            <summary>Hz wheel</summary>
            <p>Hz: 30, 48, 50, 60, 90, 120, 144</p>
            <div class="overflow-hidden">
            <Image
                class="m-auto animate-[spin_0.5s_linear_infinite] overflow-hidden rounded-full"
                src={wheelHz1}
                width={800}
                alt="Wheel Hz 1"
                loading="eager"
            />
        </div>
        </details>
    </Box> -->
    <Box>
        <div class="overflow-hidden">
            <Image
                class="m-auto animate-spin rounded-full"
                src={wheelHz2}
                width={1600}
                alt="Wheel Hz 2"
                loading="eager"
            />
        </div>
    </Box>
</TestLayout>
