---
import Box from '../../components/Box.astro';
import CommonLayout from '../../layouts/CommonLayout.astro';
import { primaryCss } from '../../styles/common';
---

<CommonLayout>
    <Box class={`${primaryCss} text-2xl`}>primary color</Box>
    <Box>box</Box>
    <Box>box</Box>
    <Box class="grid gap-2">
        color pairs
        <div
            class="rounded-md bg-fuchsia-400 px-2 py-1 text-xs font-semibold text-fuchsia-900"
        >
            abc
        </div>
        <div
            class="rounded-md bg-lime-400 px-2 py-1 text-xs font-semibold text-lime-900"
        >
            abc
        </div>
        <div
            class="rounded-md bg-sky-400 px-2 py-1 text-xs font-semibold text-sky-900"
        >
            abc
        </div>
        <div
            class="rounded-md bg-rose-400 px-2 py-1 text-xs font-semibold text-rose-900"
        >
            abc
        </div>

        <div
            class="rounded-md bg-violet-400 px-2 py-1 text-xs font-semibold text-violet-900"
        >
            abc
        </div>
        <div
            class="rounded-md bg-emerald-400 px-2 py-1 text-xs font-semibold text-emerald-900"
        >
            abc
        </div>
        <div
            class="rounded-md bg-yellow-400 px-2 py-1 text-xs font-semibold text-yellow-900"
        >
            abc
        </div>
        <div
            class="rounded-md bg-indigo-400 px-2 py-1 text-xs font-semibold text-indigo-900"
        >
            abc
        </div>
    </Box>
</CommonLayout>
