---
import Box from '../../components/Box.astro';
import CommonLayout from '../../layouts/CommonLayout.astro';
import { primaryCss } from '../../styles/common';
---

<CommonLayout>
    <Box class={`${primaryCss} text-2xl`}>primary color</Box>
    <Box>box</Box>
    <Box>box</Box>
    <Box class="grid gap-2">
        color pairs
        <div
            class="rounded-md px-2 py-1 text-xs font-semibold bg-fuchsia-400 text-fuchsia-900"
        >
            abc
        </div>
        <div
            class="rounded-md px-2 py-1 text-xs font-semibold bg-lime-400 text-lime-900"
        >
            abc
        </div>
        <div
            class="rounded-md px-2 py-1 text-xs font-semibold bg-sky-400 text-sky-900"
        >
            abc
        </div>
        <div
            class="rounded-md px-2 py-1 text-xs font-semibold bg-rose-400 text-rose-900"
        >
            abc
        </div>

        <div
            class="rounded-md px-2 py-1 text-xs font-semibold bg-violet-400 text-violet-900"
        >
            abc
        </div>
        <div
            class="rounded-md px-2 py-1 text-xs font-semibold bg-emerald-400 text-emerald-900"
        >
            abc
        </div>
        <div
            class="rounded-md px-2 py-1 text-xs font-semibold bg-yellow-400 text-yellow-900"
        >
            abc
        </div>
        <div
            class="rounded-md px-2 py-1 text-xs font-semibold bg-indigo-400 text-indigo-900"
        >
            abc
        </div>
    </Box>
</CommonLayout>
