.root {
  margin-bottom: var(--distance-default);
}

.nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: var(--distance-default);
  margin-top: var(--distance-default);
}

.navLink {
  color: var(--color-link);
  transition: color var(--transition-default);

  &.active {
    cursor: default;
    color: var(--color-tertiary);
  }

  &:not(.active):not(.disabled):hover {
    text-decoration: underline;
    color: var(--color-tertiary);
  }

  &.farRight {
    margin-left: auto;
  }

  &.disabled {
    cursor: not-allowed;
    color: var(--color-disabled);
  }
}
