---
import Block from '../../components/Block.astro';
import CommonLayout from '../../layouts/CommonLayout.astro';
import posts from '../../media/posts.json';
import dateFromISOString from '../../utils/dateFromISOString';
import truncateSpecial from '../../utils/truncateSpecial';
---

<CommonLayout title="Media">
    <Block class="custom-html">
        <p>Media</p>
        <ul>
            {
                posts.map((post) => (
                    <li>
                        <a href={'./media/' + post.hash}>
                            {truncateSpecial(post.text, 79)}
                        </a>
                        <span class="pl-2">{post.type}</span>
                        <time class="pl-2" datetime={post.date}>
                            {dateFromISOString(post.date)}
                        </time>
                    </li>
                ))
            }
        </ul>
    </Block>
</CommonLayout>
