<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>{{ template "title" . }}</title>
        <link
            rel="icon"
            href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🐹</text></svg>"
        />
        <style>
            body {
                font-family: sans-serif;
                background-color: midnightblue;
                color: white;
            }
            a,
            a:visited {
                color: chartreuse;
            }
            a:hover {
                color: lime;
            }
        </style>
        {{ template "scripts" }}
    </head>
    <body>
        {{ template "body" . }}
        <script>
            window.document.addEventListener('DOMContentLoaded', (event) => {
                console.log(
                    'DOMContentLoaded',
                    window.location.pathname,
                    event,
                );
            });
        </script>
    </body>
</html>
