<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>{{ template "title" . }}</title>
        {{ template "scripts" }}
        <style>
            body {
                font-family: sans-serif;
                background-color: midnightblue;
                color: white;
            }
            a,
            a:visited {
                color: chartreuse;
            }
            a:hover {
                color: lime;
            }
        </style>
    </head>
    <body>
        {{ template "body" . }}
    </body>
</html>
