---
import { twMerge } from 'tailwind-merge';

type Props = astroHTML.JSX.HTMLAttributes;

const { class: className } = Astro.props;
---

<div class={twMerge('rounded-md bg-slate-800 p-3 mt-8', className)}>
    <slot />
</div>
