---
import Header from '../components/Header.astro';
import BaseLayout from './BaseLayout.astro';
---

<BaseLayout title={Astro.props.title}>
    <div class="mx-auto max-w-7xl">
        <Header />
        <slot />
        <slot name="footer" />
    </div>
</BaseLayout>
