---
import type { APIContext } from 'astro';

import Block from '../../components/Block.astro';
import SubLayout from '../../layouts/SubLayout.astro';
import { GET as nanoidGet, type NanoidData } from '../api/nanoid.ts';
import { GET as uuidv4Get, type Uuidv4Data } from '../api/uuid.ts';

// https://docs.astro.build/en/recipes/call-endpoints/
// https://github.com/withastro/astro/issues/8514
// TODO ? fix that
const response1 = await nanoidGet(Astro as unknown as APIContext);
const data1 = (await (response1 as Response).json()) as NanoidData;
// https://docs.astro.build/en/recipes/call-endpoints/
// https://github.com/withastro/astro/issues/8514
// TODO ? fix that
const response2 = await uuidv4Get(Astro as unknown as APIContext);
const data2 = (await (response2 as Response).json()) as Uuidv4Data;
---

<SubLayout title="Hello">
    <Block class="custom-html">
        <h1>IDs</h1>
        <p>nanoid: {data1.id}</p>
        <p>uuidv4: {data2.id}</p>
    </Block>
</SubLayout>
