---
import Block from '../../components/Block.astro';
import CommonLayout from '../../layouts/CommonLayout.astro';
---

<CommonLayout title="Test">
    <Block class="custom-html">
        <p>Test</p>
        <ul>
            <li>
                Page
                <ul>
                    <li>
                        <a href="/test/hello">hello</a>
                    </li>
                    <li>
                        <a href="/test/ids">ids</a>
                    </li>
                    <li>
                        <a href="/test/ratio">ratio</a>
                    </li>
                    <li>
                        <a href="/test/test-1">test-1</a>
                    </li>
                    <li>
                        <a href="/test/test-2">test-2</a>
                    </li>
                    <li>
                        <a href="/test/time-cache">time-cache</a>
                    </li>
                    <li>
                        <a href="/test/time">time</a>
                    </li>
                </ul>
            </li>
            <li>
                API
                <ul>
                    <li>
                        <a href="/api/db">db</a>,
                        <a href="/api/db?pretty=1">db pretty</a>
                    </li>
                    <li>
                        <a href="/api/search-params?hello=1">search-params</a>
                    </li>
                    <li>
                        <a href="/api/user/4.json">user/[id].json</a>
                    </li>
                    <li>
                        <a href="/api/astro-logo.png">astro-logo.png</a>
                    </li>
                    <li>
                        <a href="/api/builtwith.json">builtwith.json</a>
                    </li>
                    <li>
                        <a href="/api/headers">headers</a>
                    </li>
                    <li>
                        <a href="/api/hello">hello</a>
                    </li>
                    <li>
                        <a href="/api/methods.json">methods.json</a>
                    </li>
                    <li>
                        <a href="/api/nanoid">nanoid</a>
                    </li>
                    <li>
                        <a href="/api/redirect-test?a=1">redirect hello</a>,
                        <a href="/api/redirect-test?a=2">redirect 404</a>,
                        <a href="/api/redirect-test">redirect 307</a>
                    </li>
                    <li>
                        <a href="/api/request-path.json">request-path.json</a>
                    </li>
                    <li>
                        <a href="/api/test-post.json">
                            👷🏼 POST with Content-Type = application/json
                        </a>
                    </li>
                    <li>
                        <a href="/api/time.json">time.json</a>
                    </li>
                    <li>
                        <a href="/api/uuid">uuid</a>
                    </li>
                </ul>
            </li>
        </ul>
    </Block>
</CommonLayout>
