---
import Block from '../../components/Block.astro';
import CommonLayout from '../../layouts/CommonLayout.astro';
---

<CommonLayout title="Test">
    <Block class="custom-html">
        <p>Test</p>
        <ul>
            <li>
                <a href="/test/hello">hello</a>
            </li>
            <li>
                <a href="/test/ids">ids</a>
            </li>
            <li>
                <a href="/test/test-1">test-1</a>
            </li>
            <li>
                <a href="/test/test-2">test-2</a>
            </li>
        </ul>
    </Block>
</CommonLayout>
