---
import { MenuIcon, XIcon } from 'lucide-solid';
import { twMerge } from 'tailwind-merge';

import { linkActiveCss, linkCss } from '../styles/common';
import Logo from './Logo.astro';

const activeLink = [
    linkActiveCss,
    'text-lg md:text-xl' /* , 'font-semibold' */,
];
const inactiveLink = [linkCss, 'text-lg md:text-xl' /* , 'font-semibold' */];

const { pathname } = Astro.url;
const isInfo = pathname.startsWith('/info');
const isContact = pathname.startsWith('/contact');
const isTest = pathname.startsWith('/test');
const isBlog = pathname.startsWith('/blog');

// https://preline.co/docs/navbar.html#svg
---

<header class="z-50 flex w-full flex-wrap sm:flex-nowrap sm:justify-start">
    <nav class="w-full sm:flex sm:items-center sm:justify-between">
        <div class="flex items-center justify-between">
            <a
                class="focus:outline-none focus:ring-2 focus:ring-blue-600 focus:ring-offset-2 focus:ring-offset-slate-800"
                href="/"
            >
                <Logo />
            </a>

            <div class="sm:hidden">
                <button
                    type="button"
                    class="inline-flex items-center justify-center rounded-md border border-slate-700 bg-slate-900 p-2 align-middle font-medium text-gray-400 transition-all before:shadow-sm hover:bg-slate-800 hover:text-white focus:outline-none focus:ring-2 focus:ring-blue-600 focus:ring-offset-2 focus:ring-offset-slate-800"
                    id="header-button"
                >
                    <MenuIcon
                        class="h-4 w-4"
                        id="header-icon-1"
                        strokeWidth="1"
                    />
                    <XIcon
                        class="hidden h-4 w-4"
                        id="header-icon-2"
                        strokeWidth="1"
                    />
                </button>
            </div>
        </div>
        <div
            id="header-menu"
            class="hidden grow basis-full overflow-hidden transition-all duration-300 sm:block"
        >
            <div
                class="mt-5 flex flex-col gap-3 sm:mt-0 sm:flex-row sm:items-center sm:justify-end sm:pl-5"
            >
                <a
                    class={twMerge(isInfo ? activeLink : inactiveLink)}
                    href="/info"
                >
                    Info
                </a>
                <a
                    class={twMerge(isContact ? activeLink : inactiveLink)}
                    href="/contact"
                >
                    Contact
                </a>
                <a
                    class={twMerge(isBlog ? activeLink : inactiveLink)}
                    href="/blog"
                >
                    Blog
                </a>
                <a
                    class={twMerge(isTest ? activeLink : inactiveLink)}
                    href="/test"
                >
                    Test
                </a>
            </div>
        </div>
    </nav>
</header>

<script is:inline>
    (() => {
        const button = document.getElementById('header-button');
        const menu = document.getElementById('header-menu');
        const icon1 = document.getElementById('header-icon-1');
        const icon2 = document.getElementById('header-icon-2');

        if (!button || !menu || !icon1 || !icon2) {
            return;
        }

        button.addEventListener('click', () => {
            const isHidden = menu.classList.toggle('hidden');
            icon1.classList.toggle('hidden', !isHidden);
            icon2.classList.toggle('hidden', isHidden);
        });
    })();
</script>
