---
export interface Props {
  class?: string;
}

const { class: className } = Astro.props;
---

<div class={['flex items-center gap-6 md:gap-8', className].filter(Boolean).join(' ')}>
  <slot />
</div>
