---
import Header from './Header.astro';
import Logo from './Logo.astro';
import Menu from './Menu.astro';
import Starfield from './Starfield.astro';
---

<!-- <div class="h-full"> -->
<Starfield />
<div class="fixed flex h-full w-full items-center justify-center">
  <Header
    class="absolute animate-float md:animate-float-long motion-reduce:animate-none inset-8 bottom-auto md:top-auto md:bottom-8"
  >
    <Logo class="logo" url="/" />
    <Menu class="menu" />
  </Header>
</div>
<!-- </div> -->
