---
import { linkActiveColorCss, linkDefaultColorCss, linkPartialCss } from '../styles/common';

export interface Props {
  class?: string;
}

const { class: className } = Astro.props;
const { pathname } = Astro.url;
const isInfo = pathname.startsWith('/info');
const isContact = pathname.startsWith('/contact');
---

<div class={['flex gap-3', className].filter(Boolean).join(' ')}>
  <a
    class:list={[
      linkPartialCss,
      'md:text-2xl',
      {
        [linkActiveColorCss]: isInfo,
        [linkDefaultColorCss]: !isInfo,
      },
    ]}
    href="/info">Info</a
  >
  <a
    class:list={[
      linkPartialCss,
      'md:text-2xl',
      {
        [linkActiveColorCss]: isContact,
        [linkDefaultColorCss]: !isContact,
      },
    ]}
    href="/contact">Contact</a
  >
</div>
