---
import Input from './Input.astro';
---

<div>a - b</div>
<div>c - x</div>
<div>x = (b * c) / a</div>
<div class="mx-auto mt-4 grid max-w-lg grid-cols-2 gap-2" id="ratio">
    <Input id="a" name="a" placeholder="a" type="number" value="10" />
    <Input id="b" name="b" placeholder="b" type="number" value="20" />
    <Input id="c" name="c" placeholder="c" type="number" value="5" />
    <Input id="x" name="x" readonly value="10" />
</div>

<script src="./ratio.ts"></script>
