---
// https://developer.mozilla.org/en-US/docs/Web/CSS/::view-transition-old
// https://docs.astro.build/en/guides/view-transitions/
---

<div id="starfield" class="fixed inset-0 motion-reduce:hidden">
    <canvas class="pointer-events-none" id="starfield-canvas"></canvas>
</div>

<script src="./starfield.ts"></script>
